body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #e7a55e;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}


@keyframes wave {
  0% {
    transform: translateX(0);
    transform: translateY(0);
  }
  50% {
    transform: translateX(20px); 
    transform: translateY(10px);
  }
  100% {
    transform: translateX(0);
    transform: translateY(0);
  }
}
.wave1 {
  animation: wave 8s ease-in-out infinite;
}

.wave2 {
  animation: wave 8s ease-in-out infinite;
  animation-delay: 0.5s; 
}

.wave3 {
  animation: wave 6s ease-in-out infinite;
  animation-delay: 1s;
}

.wave4 {
  animation: wave 6s ease-in-out infinite;
  animation-delay: 1.5s;
}

.wave5 {
  animation: wave 8s ease-in-out infinite;
  animation-delay: 2s;
}

.wave6 {
  animation: wave 8s ease-in-out infinite;
  animation-delay: 1s;
}

/* FONTS & TEXT */

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .2rem;
}

.raleway-medium {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: .2rem;
}

.raleway-heavy {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  letter-spacing: .5rem;
}

.jersey-25-charted-regular {
  font-family: "Jersey 25 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.head {
  margin-top: 2rem;
}

.head:hover {
  fill: none !important
}

.portfolio {
  font-size: 4rem;
  user-select: none;
  transition: opacity .5s ease-out;
}

a {
  text-decoration: none !important;
}

.portfolio:hover {
  opacity: 0;
}

.zen-notif {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.zen-notif.fade-out, .portfolio.fade-out, .author.fade-out {
  opacity: 0;
}

.author {
  text-transform: uppercase;
  font-size: 1.5rem;
  user-select: none;
  margin-top: -1rem;
  transition: opacity 1s ease-out;
}

.title {
  font-size: 1.2rem;
  flex-wrap: nowrap !important;
  padding-left: .5rem;
}


.tab-bar {
  background-color: white;
  padding: .75rem;
  margin-left: .5rem;
  margin-right: .5rem;

}

.tabs {
  font-size: 1rem;
  margin: .75rem;
  color: #e7a55e;
  text-decoration: none;
}


.biotainer {
  width: 75%
}

@media screen and (max-width: 600px) {
  .tabs {
    margin: .4rem;
    letter-spacing: 0.15rem;
  }

  .biotainer {
    width: 100%
  }
}

.tabs:hover {
  color: white
}

.tabs::after {
  color: white
}


.text-box {
  background-color: rgba(255, 255, 255, 0.039);
}

/* ICONS */


.sub-icon {
  color: white;
  flex-wrap: nowrap !important;
  margin: 0rem 1rem 0rem 1rem;
}

.dom-icon {
  font-size: 3rem;
  color: white;
  flex-wrap: nowrap !important;
  margin: .5rem 1.5rem 0.5rem 1.5rem;
  transition: filter 50ms ease;

}

.sub-icon:hover {
  color: #eb8242;
}

.dom-icon:hover {
  color: #eb8242
}


.resume-icon {
  font-size: 4rem !important;
}

/* THUMBNAIL */
.thumbnail-container {
  position: relative;
  display: inline-block;
}

.thumbnail-container img {
  display: block;
  width: 100%;
  transition: opacity 0.3s ease;
}

.thumbnail-container:hover img {
  opacity: 0.2;
}

.thumbnail-container .description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  align-items: center;
  opacity: 0;
  background-color: #7a7a7a16;
  transition: opacity 0.3s ease;
  border: 2rem solid auto;
}

.thumbnail-container:hover .description {
  opacity: 1;

}

.prog-icon {
  font-size: 4rem;
  color: white
}


.prog {
  font-size: 1.5rem;
  user-select: none;
  color: white !important;
}



.animator {
  animation: fade-in ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
